*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    /* background-color: #02313d; */
}

/* :root {
    --bg-color: #ffffff;
    --text-color: #000;
    --secound-color: #58575c;
    --main-color: #f75023;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
} */

.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(images/Background3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.navbar{
    top: 0;
    height: 90px;
    display: flex;
    width: 100%;
    background-color: #000;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}
.navbar img{
    height: 100%;
    width: 150px;
}
.navbar .nav-links{
    margin-top: 20px;
}
.navbar .nav-links ul li{
    display: inline-block;
    padding: 5px 18px;
    list-style: none;
}
.nav-links ul li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
}
.nav-links ul li a:hover{
    background-color:aquamarine;
    color: black;
}
.text-box{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 100px;
}
.image-box img{
    width: 220px;
    height: 220px;
    border: 4px solid #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}
.image-box h1{
    color:darkcyan;
    font-size: 25px;
    font-weight: 30;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family:'Courier New', Courier, monospace;
}
.image-box h2{
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-weight: 100;
}
.image-box span{
    color:darkcyan;
    font-weight: bold;
}
.text-box p{
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 5px 80px;
}
.social-links h3{
    font-size: 26px;
    color:darkcyan;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 10px;
}
.social-links h2{
    color: #fff;;
    font-weight: 100;
}
.social-links a{
    font-size: 14px;
    border: 1px solid #154f5e;
    color: #fff;;
    /* background-color: #5458d6; */
    padding: 3px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    position: center;
}
.social-links a:hover{
    border: 1px solid #ed3a3a;
    background-color:cornflowerblue;
}
/* .navbar .nav-links .bx{
    display: relative;
} */

@media(max-width: 600px){
    .navbar{
        height: 80px;
    }
    .navbar .nav-links ul li{
        display: relative;
    }
    .navbar img{
        height: 100%;
        width: 150px;
    }
    .image-box h1{
        font-size: 26px;
    }
    .image-box img{
        width: 160px;
        height: 160px;
    }
    .image-box h2{
        letter-spacing: 2px;
        font-size: 20px;
    }
    .text-box p{
        font-size: 15px;
        margin: auto;
    }
    .social-links h3{
        font-size: 20px;
    }
    .social-links a{
        font-size: 18px;
        margin: 8px;
        padding: 3px;
    }
    .navbar .nav-links{
        /* position: absolute; */
        display: relative;
        background-color: #000;
        height: 100vh;
        width: 0;
        top: 0;
        right: 0;
        text-align: left;
        transition: 0-5s;
        margin-top: 0;
    }
    .navbar.bx{
        display: block;
        color: #fff;
        margin: 5px;
        font-size: 28px;
        cursor: pointer;
    }
    /* .header i{
        font-size: small;
    } */
    .navbar .nav-links ul{
        padding: 5px 10px;
        position: relative;
        display: flex;
        flex-direction:column;
        text-align: top;
    }
    .column img{
        width: auto;
        height: auto;
    }
    .cols-1 img{
        height: auto;
        width: auto;
        /* margin: 30px; */
    }
    .contact-left{
        flex-basis: 100%;
    
    }
    .contact-right{
        flex-basis: 100%;
    }
    .contact-right p{
        text-align: right;
        font-size: smaller;
    }
    .contact-left p{
		/* margin-top: 20px;
		margin-left: 15px; */
		margin: auto;
		font-size: 10px;
        text-align: left;
        justify-items: left;
	 }
    .contact-left p i{
        font-size: 4px;
        text-align: left;
        display: none;
    }
    .contact-right{
        margin: auto;
    }

    /* .contact {
		font-size: 30px;
		font-weight: 500;
		margin: auto;
	    padding: 70px 150px;
        justify-content: center;
		color: var(--bg-color);
	} */
    .contact { 
        background:#154f5e; 
        width: auto;
        margin: auto;
        padding: 20px 50px;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-size: cover;
     } 
	.contact-left h3{
	   font-size: 8px;
	   margin-left: 25px;
	   /* margin-right: 35px; */
	}
   
	.contact-left p {
		font-size: smaller;
	}
    .contact-box{
    margin: auto;
    border: 1px solid transparent;
    width: 160px;
    height: auto;
    border-radius: 10px;
}
}
#blogs{
    color: #154f5e;
    font-size: 42px;
    text-align: center;
    /* margin: 5px 5px; */
}
#blogs p{
    /* color: #fff; */
    color: #242020;
    font-size: 16px;
}
#blogs .btn a{
    margin-bottom: 2px;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}
.container .card{
    width: 350px;
    height: 530px;
    border: 1p solid #fff;
    display: flex;
    flex-direction: column;
    margin: 19px;
    text-align: center;
}
.container .card .imagebox img{
    width: 100%;
    height: 350px;

    margin-top: 2px;
}
.container .card h2{
    font-size: 26px;
    /* color:#adff2f; */
    position: relative;
    margin-bottom: 5px;
    background-color:rgb(134, 163, 153);
}
.container .card p{
    font-size: 15px;
    padding: 6px 8px;
    margin-bottom: 2px;
}
.container .card .btn a{
    font-size: 16px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    /* color:#97fa03; */
    color: red;
    padding: 5px;
    transform: 0.5s;
    margin-bottom: 2px;
}
.container .card .btn a:hover{
    background-color:aquamarine;
    color: #000;
}
.gallery{
    position: relative;
    padding: 10px;
    margin-top: 100px;
}
.gallery h1{
    color:#154f5e;
    font-size: 42px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.gallery .row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.column{
    width: auto;
    padding: 8px;
}
.column img{
    width: 100%;
    height:320px;
    /* image-orientation: flip; */
    /* image-orientation: from-image; */
}
.team{
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 30px;
}
#team h1{
    color:#154f5e;
    font-size: 42px;
    text-align: center;
    margin-bottom: 15px;
}
#team h2{
    /* color:#154f5e; */
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 100;
}
#team .image-box h3{
    /* color: #adff2f; */
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
#team .image-box p{
    color:#777070;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-align: center;
}
#team .image-box img{
    width: 350px;
    height: auto;
}

/* ----------about--------- */
.about{
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 40px;
    margin-bottom: 2px;
}
.cols-1{
    flex-basis: 40%;
    flex-grow: 1;
    justify-content: space-between;
}
.cols-1 img{
    height: 70%;
    width: 70%;
    margin-bottom: 18px;
    margin-top: 40px;
}
.cols-1 img:hover{
    transform: scale(1.1)
}
.cols-2{
    flex-basis: 60%;
    flex-grow: 1;
    justify-content: space-between;
    text-align: center;
}
.cols-2 p{
    font-size: 18px;
    padding: 5px 30px;
    margin-bottom: 6px;
    color:#242020;
    font-family: 'poppins', sans-serif;
}
.cols-2 b{
    color:#154f5e;
    font-weight: bold;

}
.cols-2 h1{
    color:#154f5e;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}
.cols-2 a{
    font-size: 15px;
    border: 1px solid;
    margin: 40px;
    text-decoration: none;
    font-weight: bold;
    color:red;
    border-radius: 30px;
    padding: 5px;
    transition: 0.5s;
    text-align: center;
}
.cols-2 a:hover{
    background-color:aquamarine;
}
/* .contact{
    margin: 10px 30px;
    background:#154f5e;
} */
.contact { 
 	background:#154f5e; 
 	width: 100%;
 	margin: 100px auto;
 	padding: 30px 30px;
 	display: flex;
 	align-items: left;
 	justify-content: left;
 	text-align: left;
 	border-radius: 10px;
 	background-size: cover; 
  } 
.contact-left{
    flex-basis: 100%;

}
.contact-right{
    flex-basis: 100%;
}
.sub-title {
    font-size: 50px;
    font-weight: 500;
    margin: 40, 0;
   padding: 0;
}
.sub-title h2{
    font-size: 33px;
    color:black;
    margin-bottom: 8px;
    margin-top: 2px;
    text-align: left;
    margin-left: 25px;
}
.contact-left p{
    color:antiquewhite;
    margin: 20px auto;
    text-align: left;
    /* font-size: 25px; */
    font-weight: 300;
}
.contact-left p i{
	color:aquamarine;
	/* margin-right: 20px; */
	margin-left: 20px;
	font-size: 20px;
    text-align: left;
}
.contact-right form{
    width: 100%;
	margin: 2px auto;
}
/* .contact-box{
    margin: 8px 0;
    border: 1px solid transparent;
    width: 400px;
    height: auto;
    border-radius: 10px;
} */
.details input{
    padding: 8px 15px;
    width: 95%;
    margin: 8px;
    border: 1px solid #999;
    border-radius: 8px;
}
.details textarea{
    padding: 20px 8px;
    width: 95%;
    margin: 8px;
    border: 1px solid #999;
    border-radius: 8px;
}
.details button{
    padding: 5px 15px;
    margin: 10px;
    background-color:#b8e9d8;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid;
    font-size: 20px;
}
.details button:hover{
    background: #fff;
}
footer{
    width: 100%;
    height: auto;
    background-color: #000;
    bottom: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-col-1{
    padding: 10px 30px;
    color: #fff;
    flex-basis: 43%;
}
.footer-col-1 img{
    height: 230px;
    width: 230px;
    margin-bottom: 2px;
}
.footer-col-1 h2{
    color:darkslategrey;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 4px;
}
.footer-col-1 p{
    text-align: left;
    font-size: 17px;
    margin-bottom: 10px;
}
.footer-col-1 span{
    color: #154f5e;
}
.footer-col-2{
    padding: 15px 30px;
}
.footer-col-2 a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.footer-col-2 a:hover{
    color:#154f5e;
}
.footer-col-2 p, h5{
    font-size: 16px;
    color:cadetblue;
}
@media(max-width:767px){
    .about{
        flex-direction: column;
    }
    /* .contact-box{
    width: 160px;
    text-align: center;
    } */
    .details input, details textarea{
        width: 80%;
    }
    .contact{
        margin: 10px auto;
    }
}

